body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
   text-decoration: underline 2px;
}

ul {
  list-style: none;
}

.green {
  color: green;
  font-weight: 700;
}
.red {
  color: darkred;
  font-weight: 700;
}